@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img class="logo" src="~/img/logo.jpg" alt="logo" />
    <h1 class="display-4">Welcome</h1>
    <p>In this app you wil be able to make your own order for a Desk, Store the list of your order and see the past order list.</p>
</div>
